/* import da fonte do meu titulo */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single+Ink:wght@100..900&family=Kablammo&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BJCree:wght@400;500;600;700&family=Cherry+Bomb+One&family=Kablammo&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

/* mudar as caracteristicas de todo o meu conteudo do body */
body {
    text-align: center;
    background-color: rgb(124, 129,98);
}


header {
    background-color: rgb(51, 53, 42);
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
}

nav a {
     color: white;
     text-decoration: none;
     /* tira o sublinhado do texto */
     display: inline-block;
     /* ativar o display */
     margin: 10px;
     /* aumentar o espaçamento */
     padding: 10px 20px;
     background-color: rgb(51, 53, 42);
     border-radius: 10px;
}

nav a:hover{
    background-color: rgb(73, 76, 59);
}

.card {
    display: inline-block;
    width: 250px;
    margin: 15px;
    padding: 10px;
    background-color: rgb(166, 137, 83);
    border-radius: 10px
    ;
}
.card img {
    width: 100%;
    height: 250px;
    border-radius: 10px;    
}

#personagens h2{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(42, 53, 44);
}

#personagens{
    background-image: url(./imagens/3banner.jpg);
    /*background-size: mexe no tamanho do plano de fundo/imagem | cover = esticar a imagem | contain = mantem o tamanho original | background-repeat: tira a repetição ou coloca */
    background-repeat: no-repeat;
    background-size: cover;
}

#personagens p{
    font-family: "BJCree", serif;
    font-weight: 400;
    font-style: normal;
}

.card:hover {
    transform: translateY(-10px);
    transition: 0.5s;
}
#temporadas {

}
.temporada{
    display: inline-block;
    margin: 15px;
    padding: 12px;
    background-color: rgb(166, 137, 83);
    border-radius: 10px;
}
.temporada img {
    display: flex;
    width: 500px;
    height: 300px;
    border-radius: 10px;
}
